In [1]:
import pandas as pd

# File path
file_path = "/Users/mridul/Downloads/The Open Cataclysmic Variable Catalog.csv"

# Read CSV file into a pandas dataframe
df = pd.read_csv(file_path)

df

                            Name  Disc. Date      Type
0          1RXS J013308.9+383218  2009/10/27  CataclyV
1          1RXS J044027.0+023300  2009/02/19  CataclyV
2          1RXS J221343.9+173301  2009/09/17  CataclyV
3      2SLAQ J081418.92-005022.0  2008/04/09  CataclyV
4                      AT2021vgi        2009         N
...                          ...         ...       ...
15701               ZTF21aapvkyy         NaN  CataclyV
15702               ZTF21aavqior  2021/04/16       NaN
15703               ZTF21abbxnbm         NaN  CataclyV
15704               ZTF21abzydnp         NaN  CataclyV
15705               ZTF23aagmerr         NaN         N

[15706 rows x 3 columns]

In [2]:
df.dtypes

Name          object
Disc. Date    object
Type          object
dtype: object

In [3]:
df['Type'].unique()

array(['CataclyV', 'N', 'CataclyV_Candidate', nan, 'known CV',
       'Candidate', 'Nova_Candidate', 'Known CV', 'DN', 'AntiNova',
       'Candidate Nova', 'Cataclysmic_Variable'], dtype=object)

In [5]:
known_CV = df['Type'].value_counts().get('known CV', 0)
Known_CV = df['Type'].value_counts().get('Known CV', 0)
CV = df['Type'].value_counts().get('CataclyV', 0)

In [6]:
print(known_CV)
print(Known_CV)
print(CV)

972
240
4002